body{
  margin-left: 20px;
  color:black;
  background-color: #D8E3E7;
}
hr{
  border-style: solid none none;
  border-width: medium;
  border-color: #064663;
}
h1{
  color: #064663;
}
h2{
  color: #064663;
}
a{
  color: #0079FA;
}
.date {
  float: right;
  margin-right: 500px;
}
